.header-size{
    font-size: 48px;
}
.navbar {
    .nav-link {
        color: inherit;
    }
    .nav-item-margin{
        margin-right: 48px;
    }
}

.main-section{
    width: 100vh;
    .first-box{
        background-color: #DCC1AB;
        height: 737px;

    }
    .second-box{
    }
}